@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font1: Arial, Helvetica, sans-serif;
    --font2: 'Lexend Deca', sans-serif;
    --font3: 'Big Shoulders Display', cursive;
} 




html, body {
    width: 100%;
    min-height: 100vh;
    background-color: hsl(0, 0%, 95%);
    font-family: var(--font1);
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    max-width: 250px;
    padding: 2.2rem;
    font-family: var(--font2);
    font-size: 15px;
}

section h1 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    font-family: var(--font3);
    font-size: 3em;
}

section p {
    padding-bottom: 5rem;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 0.9em;
    line-height: 1.5em;

}

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 5px 0 0 5px;
}
.sedans button{
    color: hsl(31, 77%, 52%);
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}
.suvs button{
    color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 5px 5px 0;
}
.luxury button {
    color: hsl(179, 100%, 13%);
}

button {
    padding: 15px 25px;
    border: none;
    border-radius: 2rem;
    font-family: var(--font2);
}


.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(219, 29%, 14%);
    padding-top: 1rem;
    padding-bottom: 2rem;

  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }


@media screen and (max-width: 765px) {
    main {
     flex-direction: column;
   }
   .sedans {
     border-radius: 5px 5px 0 0;
   }
   .luxury {
     border-radius: 0 0 5px 5px;
   }
} 